#app {
  height: 100vh;
}

.navbar {
  height: 4rem;
  width: 100%;
  background-color: lightslategrey;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title-text-navbar {
    color: rgb(245, 241, 241);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-size: 1.8rem;
   
  }
}
main {
  height: calc(100vh - 3rem);
  .container-main {
    padding: 1rem;

    .container-section{
    padding:1rem;
    }
  } 
  .section-input-text {
    

    .container-btn-submit {
      display:flex;
      flex-direction: row;
      justify-content: center;
      padding: 1rem 0rem 0rem 0rem 
    }
  }
}